In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

'<html lang="en">\n<head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">\n    <link rel="stylesheet" href="style.css">\n    <title>Bob\'s Bookstore</title>\n</head>\n<body>\n    <div class="w3-bar w3-blue-grey w3-large" style="padding: 0rem 8rem 0rem 8rem">\n        <a href="/bridgerland-technical-college/home.html"><img src="bobs_bookstore_white.png" class="" style="max-height: 2.8rem;"></a>\n        <a href="/bridgerland-technical-college/bookstore.html" class="w3-bar-item w3-button w3-right">Store</a>\n        <a href="/bridgerland-technical-college/contact.html" class="w3-bar-item w3-button w3-right">Contact</a>\n        <a href="/bridgerland-technical-college/about.html" class="w3-bar-item w3-button w3-right">About</a>\n      </div>\n\n      <div style="max-width: 1000px;margin: auto;" class="w3-container">\n        <h1>Books for Sale</h1>\n        <table class="w3-table-all w3-hoverable w3-small">\n            <thead>\n                <tr>\n                    <th>ISBN</th>\n                    <th>Title</th>\n                    <th>Author</th>\n                    <th>Language</th>\n                    <th>Pages</th>\n                    <th>Topic</th>\n                    <th>Price</th>\n                    <th></th>\n                </tr>\n            </thead>\n            <tr class="book">\n                <td>978-1234567890</td>\n                <td>Whiskers of Wisdom: Tales from Feline Philosophers</td>\n                <td>Penelope Wainwright</td>\n                <td>English</td>\n                <td>256</td>\n                <td>Cats</td>\n                <td>$19.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-2345678901</td>\n                <td>Purrfectly Pawesome: A Cat\'s Life</td>\n                <td>Jasper Sterling</td>\n                <td>English</td>\n                <td>192</td>\n                <td>Cats</td>\n                <td>$15.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-3456789012</td>\n                <td>Cat Tales: Adventures in Whiskerland</td>\n                <td>Penelope Wainwright</td>\n                <td>English</td>\n                <td>320</td>\n                <td>Cats</td>\n                <td>$21.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-4567890123</td>\n                <td>The Enigmatic Paws: Mysteries of Meowville</td>\n                <td>Maximilian Thorne</td>\n                <td>English</td>\n                <td>288</td>\n                <td>Cats</td>\n                <td>$17.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-5678901234</td>\n                <td>Cats in Wonderland</td>\n                <td>Isadora Harrington</td>\n                <td>English</td>\n                <td>224</td>\n                <td>Cats</td>\n                <td>$16.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-6789012345</td>\n                <td>Whisker Wisdom: Life Lessons from Feline Sages</td>\n                <td>Penelope Wainwright</td>\n                <td>English</td>\n                <td>288</td>\n                <td>Cats</td>\n                <td>$20.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-7890123456</td>\n                <td>Catnip Chronicles: A Purrfect Journey</td>\n                <td>Jasper Sterling</td>\n                <td>English</td>\n                <td>192</td>\n                <td>Cats</td>\n                <td>$14.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-8901234567</td>\n                <td>Cat-astrophe: Tales of Misadventures</td>\n                <td>Celeste Nightshade</td>\n                <td>English</td>\n                <td>240</td>\n                <td>Cats</td>\n                <td>$18.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-9012345678</td>\n                <td>The Cat\'s Whisker: A Feline Fantasy</td>\n                <td>Penelope Wainwright</td>\n                <td>English</td>\n                <td>208</td>\n                <td>Cats</td>\n                <td>$16.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-0123456789</td>\n                <td>Fur and Friendship: Stories of Feline Companions</td>\n                <td>Seraphina Montague</td>\n                <td>English</td>\n                <td>176</td>\n                <td>Cats</td>\n                <td>$12.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-1234567890</td>\n                <td>Tails of Loyalty: Canine Chronicles</td>\n                <td>Benjamin Barkley</td>\n                <td>English</td>\n                <td>256</td>\n                <td>Dogs</td>\n                <td>$29.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-2345678901</td>\n                <td>Pawsitive Adventures: A Dog\'s Journey</td>\n                <td>Sophie Shepherd</td>\n                <td>English</td>\n                <td>192</td>\n                <td>Dogs</td>\n                <td>$25.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-3456789012</td>\n                <td>Barking Wisdom: Lessons from Wise Canines</td>\n                <td>Oliver Obedience</td>\n                <td>English</td>\n                <td>320</td>\n                <td>Dogs</td>\n                <td>$21.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-4567890123</td>\n                <td>Dogged Determination: Stories of Resilient Pooches</td>\n                <td>Ruby Ruffington</td>\n                <td>English</td>\n                <td>288</td>\n                <td>Dogs</td>\n                <td>$27.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n            <tr class="book">\n                <td>978-5678901234</td>\n                <td>The Bark Brigade: Canine Heroes Among Us</td>\n                <td>Benjamin Barkley</td>\n                <td>English</td>\n                <td>224</td>\n                <td>Dogs</td>\n                <td>$26.99</td>\n                <td><button>Buy now</button></td>\n            </tr>\n        </table>\n      </div>\n\n\n    \n      <footer class="page-footer">\n        <div class="footer-content">\n            <p>&copy; 2023 Bob\'s Bookstore</p>\n            <ul class="social-icons">\n                <li><a href="#"><img src="facebook.png" alt="Facebook"></a></li>\n                <li><a href="#"><img src="twitter.png" alt="Twitter"></a></li>\n                <li><a href="#"><img src="instagram.png" alt="Instagram"></a></li>\n            </ul>\n        </div>\n    </footer>\n</body>\n</html>'

In [3]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/bookstore.html').text

In [4]:
soup = BeautifulSoup(response , 'html.parser')
rows = soup.find_all('tr', class_='book')

In [5]:
data = []

for row in rows:
    cells = row.find_all('td')
    author = cells[2].text.strip()
    pages = int(cells[4].text.strip())
    topic = cells[5].text.strip()
    price = float(cells[6].text.strip().replace('$', ''))
    
    data.append({
        'Author': author,
        'Topic': topic,
        'Pages': pages,
        'Price': price
    })

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head()

                Author Topic  Pages  Price
0  Penelope Wainwright  Cats    256  19.99
1      Jasper Sterling  Cats    192  15.99
2  Penelope Wainwright  Cats    320  21.99
3    Maximilian Thorne  Cats    288  17.99
4   Isadora Harrington  Cats    224  16.99

In [8]:
df.describe()

            Pages      Price
count   15.000000  15.000000
mean   244.266667  20.723333
std     48.177450   5.091543
min    176.000000  12.990000
25%    200.000000  16.990000
50%    240.000000  19.990000
75%    288.000000  23.990000
max    320.000000  29.990000

In [9]:
df['Author'].value_counts()

Author
Penelope Wainwright    4
Jasper Sterling        2
Benjamin Barkley       2
Maximilian Thorne      1
Isadora Harrington     1
Celeste Nightshade     1
Seraphina Montague     1
Sophie Shepherd        1
Oliver Obedience       1
Ruby Ruffington        1
Name: count, dtype: int64

In [10]:
df['Topic'].value_counts()

Topic
Cats    10
Dogs     5
Name: count, dtype: int64

In [11]:
df.groupby('Topic')['Price'].mean()

Topic
Cats    17.79
Dogs    26.59
Name: Price, dtype: float64

In [12]:
df.groupby('Topic')['Pages'].mean()

Topic
Cats    238.4
Dogs    256.0
Name: Pages, dtype: float64